body{
    font-family: Arial;
    background:#111;
    color:white;
    text-align:center;
}

#catalogo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#222;
    margin:10px;
    padding:10px;
    border-radius:10px;
    width:180px;
    cursor:pointer;
    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
    background:#333;
}

.card img{
    width:100%;
    border-radius:10px;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
}

.modal-content{
    background:#222;
    margin:10% auto;
    padding:20px;
    width:300px;
    border-radius:10px;
}

#cerrar{
    float:right;
    cursor:pointer;
    font-size:20px;
}
